on:
  push:
    tags: 'v**'
  workflow_dispatch:


jobs:
    setup-java:
        name: setup java
        runs-on: ubuntu-latest
        permissions:
          contents: write
        steps:
        - name: Checkout submodules
          uses: actions/checkout@v5
        - uses: actions/setup-java@v5
          with:
            distribution: 'temurin' # See 'Supported distributions' for available options
            java-version: '21'
        - name: Setup Gradle
          uses: gradle/actions/setup-gradle@v5
        - name: Build with Gradle
          run: gradle build
        - name: Rename relase
          run: mv ./build/libs/minemoji-1.03-all.jar ./minemoji-1.03.jar
        - name: Release
          uses: softprops/action-gh-release@v2
          with:
            files: minemoji-*.jar
    